.navbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  height: 8vh;
}

.navbar .title-div {
  align-items: center;
  padding: 0 20px;
  width: 90%;
  display: flex;
  justify-content: flex-start;
  grid-column-gap: 10px;
}

.navbar .title-div img {
  height: 70%;
}

.navbar .title-div h3 {
  font-size: 22px;
  font-weight: 400;
  color: white;
  margin: auto 0;
}

.join-page {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  place-content: center;
  margin: auto;
  text-align: center;
}

.join-page .video-div video {
  width: 50%;
  height: 40%;
}

.join-page input {
  margin-top: 5%;
  padding: 0.5rem;
  border: 2px solid #d1d1d1;
  outline: none;
  border-radius: 10px;
  width: 70%;
  font-size: 18px;
  transition-duration: 0.4s;
  z-index: 100;
}

.join-page input:focus {
  border-color: #2cbdc7;
}

.join-page .join-btns-div {
  width: 70%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: auto;
  padding: 2rem 0.5rem;
}

.join-page .join-btns-div .btn {
  margin: auto;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 17px;
  border: 2px solid #16c071;
  background-color: #0d4b85;
  color: white;
  transition-duration: 0.4s;
}

.join-page .join-btns-div .btn:hover {
  background-color: #1b8299;
  color: white;
}

@media (max-width: 576px) {
  .join-page .join-btns-div {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .join-page {
    margin-top: 20%;
  }
  .join-page .video-div video {
    width: 70%;
    height: 50%;
  }
}
