.outer-div {
  height: 40vh;
  width: 20vw;
  // background-color: black;
}
.messages {
  overflow-y: scroll;
  // background-color: black;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  padding: 10px;
  width: 100%;
  height: 100%;
  h3{
    text-align: center;
  }
  flex: auto;
  overflow: auto;
}
.message-div {
  display: flex;
  margin-bottom: 10px;
  word-wrap: break-word;
  
}
.message {
  display: flex;
  max-width: 60%;
  background-color: rgb(14, 144, 184);
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  word-wrap: break-word;
  overflow-x: hidden;
}
.tr {
  // text-align: right;
  justify-content: flex-end;
}
.tl {
  // text-align: left;
  justify-content: flex-start;
}
.inputs{
  // width: 30vw;
  margin-top: 20px;
  input{
    width: 70%;
    border: 1px solid grey;
    outline: none;
    border-radius: 10px;
    padding: 5px;
  }
  Button{
    margin-left: 1vw;
  }
  // background-color: black;
}
.scrollbar {
  overflow:auto;
}

.scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.2);
}

.scrollbar-primary::-webkit-scrollbar {
  scroll-margin: auto;
}
.scrollbar-primary {
  scrollbar-color: #76c5f3;
}
.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #5ebdfc;
}