.options{
    background-color: white;
    width: 60%;
    height: 20vh;
    margin: auto;
    border-radius: 10px;
    input{
        border-radius:10px ;
        border: 1px solid rgb(158, 158, 158);
        outline: none;
        padding: 10px;
    }
}