.options {
  background-color: rgb(0, 0, 0);
  width: 30%;
  height: 10vh;
  margin: auto;
  //   border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0px;

  button {
    display: flex;
    align-items: center;
    border-radius: 10%;
    outline: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    // &:hover {
    //   background-color: rgb(221, 221, 221);
    // }
  }
  .bg-white {
    // background-color: rgb(221, 221, 221);
  }
  .bg-grey {
    background-color: rgb(143, 143, 143);
  }
  .red-btn {
    background-color: rgb(194, 5, 5);
    svg {
      fill: white;
    }
    &:hover {
      background-color: rgb(228, 70, 70);
    }
  }
}
.options-menu {
  padding: 0 1rem;
  display: block;
  text-align: center;
  div {
    padding: 0.5rem;
  }
  input {
    border-radius: 10px;
    border: 1px solid rgb(158, 158, 158);
    outline: none;
    padding: 10px;
  }
  .btn-div {
    display: flex;
    justify-content: space-between;
    h3 {
      padding: 0 10px;
    }
    button {
      background-color: white;
      border: none;
      cursor: pointer;
      // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
  }
}
.w100 {
  width: 100%;
}

.call-div {
  p {
    font-size: 20px;
  }
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
