.flex-div {
  display: flex;
  height: 100vh;
}

.flex-div .left {
  width: 30%;
  background-color: grey;
}

.flex-div .left .video-div {
  display: block;
  align-items: center;
  text-align: center;
  grid-row-gap: 1rem;
}

.flex-div .left .video-div video {
  margin-top: 1rem;
  border: 2px solid #e8e8e8;
}

.flex-div .right {
  width: 70%;
  background-color: #0c66ac;
}
