@import '../../assets/styles/_mixins.scss';
.flex-div {
  display: flex;
  height: 100vh;
  .left {
    height: 9vh;
    width: 30%;
    // background-color: grey;
    // animation: 1s slide-right;
    // @keyframes slide-right {
    //   from {
    //     margin-left: -100%;
    //   }
    //   to {
    //     margin-left: 0%;
    //   }
    // }
    .nav-bar {
      // box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      background-color: black !important;
      display: flex;
      justify-content: space-between;
      height: 8vh;
      .title-div {
        align-items: center;
        padding: 0 20px;
        width: 90%;
        background-color: blanchedalmond;
        display: flex;
        justify-content: flex-start;
        grid-column-gap: 10px;
        img {
          // width: 70%;
          height: 70%;
        }
        h3 {
          font-size: 22px;
          font-weight: 400;
          // margin-left: 10px;
          margin: auto 0;
          color: white;
        }
      }
    }

    .video-div {
      // display: block;
      // align-items: center;
      // text-align: center;
      // margin-top: 8rem;
      grid-row-gap: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      .video-frames {
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // background-color: rgb(63, 34, 34);
        margin: auto;
        .video-frame {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          svg {
            position: absolute;
            // top: 5%;
            left: 4%;
          }
          video {
            // margin-top: 1rem;
            width: 70%;
            height: 70%;
            // border: 2px solid rgb(232, 232, 232);
          }
          .name {
            font-size: 20px;
          }
          .hide-img {
            display: none;
          }
          .show-img {
            position: absolute;
            bottom: 45%;
            // right: '50%',
          }
        }
      }
    }
    @include mobile {
      width: 30%;
      background-color: rgb(232, 232, 232);
      .video-div {
        // display: block;
        // align-items: center;
        // text-align: center;
        // margin-top: 8rem;
        grid-row-gap: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        .video-frames {
          // display: flex;
          // align-items: center;
          // justify-content: center;

          margin: auto;
          .video-frame {
            position: relative;
            .hide-img {
              display: none;
            }
            .show-img {
              position: absolute;
              bottom: 50%;
              left: 45%;
            }
            // border: 1px solid blue;
            svg {
              position: relative;
              left: 10%;
            }
            // video {
            // margin-top: 1rem;
            // width: 55%;
            // height: 23vh;
            // border: 2px solid rgb(232, 232, 232);
            // }
          }
        }
      }
    }
  }
  .right {
    width: 70%;
    background-color: rgb(235, 235, 235);
    border-left: 1px solid rgb(213, 213, 213);
    overflow: hidden;
    .editor-div {
      overflow: hidden;
    }
  }
}
.hide-editor {
  display: block;
  .left {
    width: 100%;
    background-color: rgb(232, 232, 232);
    height: 100%;
    // animation: 0.5s slide-right;
    // @keyframes slide-right {
    //   from {
    //     margin-left: -70%;
    //   }
    //   to {
    //     margin-left: 0%;
    //   }
    // }
    .video-div {
      // height: 100%;
      .video-frames {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        // margin: auto;

        width: 65%;
        // height: 80%;
        .video-frame {
          text-align: center;
          // border: 1px solid black;
          display: flex;
          align-items: center;
          // flex-direction: row;
          justify-content: center;
          svg {
            position: relative;
            left: 0%;
          }
          width: 70%;
          img {
            width: 50px;
            height: 50px;
          }
          video {
            // margin-top: 1rem;
            width: 90%;
            height: 80%;
            // border: 2px solid rgb(232, 232, 232);
          }
        }
      }
    }
    @include mobile {
      width: 100%;
      // background-color: grey;
      background-color: rgb(232, 232, 232);
      height: 100%;
      .video-div {
        // height: 100%;
        padding-bottom: 3rem;
        height: auto;
        overflow: scroll;
        .video-frames {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          margin: auto;
          width: 100%;
          // height: 80%;
          grid-row-gap: 0.2rem;
          .video-frame {
            text-align: center;
            // border: 1px solid black;
            display: flex;
            align-items: center;
            // flex-direction: row;
            justify-content: center;
            // background-color: black;
            svg {
              position: relative;
              left: 5%;
            }
            width: 70%;
            img {
              width: 50px;
              height: 50px;
              position: absolute;
              left: 0%;
            }
            video {
              // margin-top: 1rem;
              width: 100%;
              height: 100%;
              // border: 2px solid rgb(232, 232, 232);
            }
          }
        }
      }
    }
  }
  .right {
    // display: none;
  }
}
